.menu_hamburguer {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu\ Aberto.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container_imagem{
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;

}

.container_botao:checked~.lista_menu {
    display: block;
}

.lista_menu_titulo, 
.lista_menu_items {
    padding: 1em;
    background-color: var(--branco);
}

.lista_menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista_menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao {
    display: none;
}

.container_titulo {
    display: none;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container_titulo,
    .container_titulo-negrito {
        font: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }
    
    .opcoes_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem_transparente {
        display: none;
    }

    .menu_hamburguer {
        display: none;
    }

    .opcoes_botao:checked ~ .lista_menu {
        display: block;
        width: auto;
    }

    .opcoes_botao {
        display: none;
    }
}

.container_texto {
    display: none;
}

.opcoes_botao:checked ~ .opcoes_rotulo > .opcoes_item {
    background: var(--azul-degrade);
    color: var(--branco);
}

.lista_menu_items:hover {
    background: var(--azul-degrade);
}

.lista_menu_items:hover > .lista_menu_link {
    -webkit-text-fill-color: var(--branco);
}

.opcoes_item {
    padding: 2em 1em;
}
@media screen and (min-width: 1200px) {
    .container_texto {
        display: block;
    }

    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin: auto;
    }
}
